*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(15.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 90px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: .5s;    
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 20px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
}


@media(max-width: 600px) and (min-width: 400px)
{
   .nav-links ul li
    {
        display: block;
    }
    .nav-links
    {
        position: fixed;
        background: #343434;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul{
        padding: 30px;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer; 
    }
    .text-box h1{
        font-size: 20px;
    }
}

.course{
    width: 80%;
    margin: auto;
    text-align: justify;
    padding-top: -100px;
    margin-top: -24%;
}
h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }
p{
    color: rgb(34, 34, 34);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#one{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 70%;
    background: #e7e7e7;
    border-radius: 1px;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    }
    
    @media (max-width: 600px) and (min-width: 400px){
        .row{
            flex-direction: column;
            font-size: 16px
    
            }

}
h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/* CAMPUS DEL */

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 20%;
    border-radius: 0px;
    margin-bottom: 5%;
    margin-right: 1%;
    text-align: left;
    position: relative;
    overflow: hidden;
}
.campus.col img{
    width: 100%;
    margin-right: 0%;
    border-radius: 0px;
} 
.layer{
    background: transparent;
    height: 100%;
    width:  100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: #353535;
}
.layer h3{
    width: 100%;
    font-weight: 400;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 20%;
    border-radius: 0px;
    margin-bottom: 5%;
    margin-right: 1%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    margin-right: 20%;
    border-radius: 0px;
}

.facilities-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*--------------Footer---------------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer-link{
    color: #777;
    text-decoration: none;

}

.icons .fa{
    color: #090909;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}



.video-container {
    position: relative;
    padding-bottom: 50.25%;
    
    padding-top: 10px;
    height: 0;
    overflow: hidden;
  }
  
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 50%;
    margin-bottom: -40%;
    margin-top: 1%;
    margin-left: 18%;
    margin-right: 18%;
  }